*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3rem;
    height: 100vh;
   
   
}
.light-text{
    color: #979797;
}
div{
    width: 375px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.header{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 20px;
}
.header h2{
    line-height: 12px;
    font-size: 10px;
    font-weight: normal;
}
.header p{
    color: #ff473a;
    font-size: 1.5rem;
    font-weight: 500
}
.header i{
    font-size: 1.5rem;
}
img{
    align-items: center;
    margin-top: 10px;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 10px 10px;
    background-color: #ff473a;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
}
.dot1{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 10px 10px;
    background-color: #666;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
}
.dot:hover{
    background-color: #717171;
}
.content{
    line-height: 1.6rem;
    font-size: 1rem;
}
.content h2{
    margin-top: 10px;
    margin-bottom: 1.7rem;
    font-size: 24px;
}
button{
    display:inline-block;
    width: 50%;
    padding: 13px 20px;
    text-align: center;
    background-color: #ff473a;
    color: #fff;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 3rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   
}



